.chip {
	&.viewAll {
		height: 36px;
		padding: 0.5rem 1rem;
		border-radius: 7px;
		margin: 0.5rem 0;
		font-weight: 600;
		font-size: 0.8rem;
	}

	&.tag {
		height: 25px;
		padding: 0.1em 0.5rem;
		margin: 0.2em 0.2em;
		font-weight: 600;
		font-size: 0.8rem;
	}

	text-decoration: none;
	font-weight: 500;
}

@include respond-to('x-small') {
	.chip {
	}
}
