#main-content {
	display: flex;
	margin: auto;
	margin-top: 55px;
	padding: 40px 0 0;
	min-height: calc(100vh - 190px);
	max-width: $width;
}

@include respond-to('x-small') {
	#main-content {
		margin-top: 140px;
		padding: 60px 0 0;
		min-height: calc(100vh - 340px);
		max-width: $width;
	}
}

.footer {
	height: 150px;
	width: 100%;
	-webkit-user-select: none;
	-webkit-user-drag: none;

	.avatar {
		display: flex;
		flex: 1;
		justify-content: flex-start;
		align-items: center;

		img {
			transition: transform 0.25s ease-in-out;
			-webkit-user-select: none;
			-webkit-user-drag: none;
			margin-left: 5px;
			width: 30px;
			height: 30px;
		}

		img:hover {
			transform: rotate(35deg) scale(1.15);
		}
	}

	.socials {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.social {
			margin: 0 0.6rem;
			img {
				transition: transform 0.25s ease-in-out;
				-webkit-user-select: none;
				-webkit-user-drag: none;
				width: 25px;
				height: 25px;
			}

			img:hover {
				transform: scale(1.2);
			}
		}
	}
}

@include respond-to('x-small') {
	.footer {
		height: 200px;
		.avatar {
			img {
				margin-left: 10px;
				width: 50px;
				height: 50px;
			}
		}

		.socials {
			.social {
				margin: 0 0.75rem;

				img {
					width: 40px;
					height: 40px;
				}
			}
		}
	}
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	max-width: $width;
	padding: 0 1.5rem;
	margin-left: auto;
	margin-right: auto;
}

@include respond-to('x-small') {
	.container {
		padding: 0 2rem;
	}
}
