.topArticles {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	> a {
		height: 140px;
		min-height: 140px;
		transition: transform 0.2s ease, background-color 0.5s ease;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		border-radius: $border-radius;
		box-shadow: 0.2rem 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.1);
		margin: 0.5rem;
		&:hover {
			transform: translateY(-2px);
			box-shadow: 0.5rem 1.25rem 2rem 0 rgba(0, 0, 0, 0.2);
		}
		Img {
			width: 50px;
			max-width: 50px;
			max-height: 50px;
			height: auto;
		}
		h3 {
			margin: 0.5rem auto 0;
			text-align: center;
			font-size: 0.9rem;
			text-overflow: ellipsis;
			overflow: hidden;
			width: 150px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}
}
