$background: #202020;
$foreground: #b3b9c5;
$accent: #303030;
$dark-border: darken($background, 3%);
$dark-primary: $tag;
$font-color: #b3b9c5;

.dark {
	background: $background;
	color: $foreground;
	transition: background-color 0.5s ease;

	.nav {
		background: darken($background, 1);
		border-color: $background;
		transition: background-color 0.5s ease;

		.logo-banner {
			.text {
				color: $font-color;
				&:hover,
				&:active,
				&:focus {
					color: lighten($font-color, 20);
				}
			}
		}

		.links {
			a {
				&:hover {
					color: lighten($link-color, 10);
				}
			}
		}
	}

	.footer {
		background: darken($background, 1);
		border-color: $background;
		transition: background-color 0.5s ease;
	}
}

body.dark::-webkit-scrollbar-thumb {
	background-color: #686868;
}
