$background: #202020;
$foreground: #b3b9c5;
$accent: #303030;
$border-color: darken($background, 3%);
$dark-primary: $tag;
$font-color: #b3b9c5;

.dark {
	background: $background;
	color: $foreground;
	transition: background-color 0.5s ease;

	.nav {
		background: darken($background, 1);
		border-color: $background;
		transition: background-color 0.5s ease;

		.logo-banner {
			.text {
				color: $font-color;
				&:hover,
				&:active,
				&:focus {
					color: lighten($font-color, 20);
				}
			}
		}

		.links {
			a {
				&:hover {
					color: lighten($link-color, 10);
				}
			}
		}
	}

	.latestPosts {
		> a {
			border-bottom: 0.2px solid $border-color;

			.wrapper {
				border-bottom: 1px solid lighten($background, 8);
				h4 {
					color: #9fa3a9;
				}
			}

			&:hover {
				background: lighten($background, 8);

				.wrapper {
					h4 {
						color: #eee;
					}
				}
			}
		}
	}

	.projects {
		.projectItem {
			border-bottom: 1px solid lighten($background, 8);
		}
	}

	.footer {
		background: darken($background, 1);
		border-color: $background;
		transition: background-color 0.5s ease;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		color: #eee;
	}

	.main {
		.topArticles {
			> a {
				h3 {
					color: #9fa3a9;
				}
				background: lighten($background, 4);
				&:hover {
					h3 {
						color: #eee;
					}
					background: lighten($background, 8);
				}
			}
		}
	}

	.chip {
		&.viewAll {
			background: darken($background, 3);
			&:hover {
				background: darken($background, 6);
			}
		}

		&.tag {
			color: $link-color;
			background: darken($background, 3);
			border: 0.5px solid darken($link-color, 15);
			&:hover {
				background: darken($background, 6);
			}
		}
	}
}

body.dark::-webkit-scrollbar-thumb {
	background-color: #686868;
}
