$background: #f0f0f0;
$font-color: #454545;

.light {
	background: $background;
	transition: background-color 0.5s ease;

	.nav {
		background: white;
		transition: background-color 0.5s ease;

		.logo-banner {
			.text {
				color: $font-color;
				&:hover,
				&:active,
				&:focus {
					color: darken($font-color, 20);
				}
			}
		}

		.links {
			a {
				&:hover {
					color: darken($link-color, 10);
				}
			}
		}
	}

	.footer {
		background: white;
		transition: background-color 0.5s ease;
	}

	h1,
	h2,
	h3 {
		color: $font-color;
	}

	.main {
		.topArticles {
			> a {
				background: lighten($background, 4);
				&:hover {
					background: lighten($background, 8);
				}
			}
		}
	}
}

body.light::-webkit-scrollbar-thumb {
	background-color: #bdbdbd;
}
